html {
    background-color: #f1e911;  
}
h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.827);
}

#p1{
    color: hsl(0, 100%, 50%);
    font-size: x-Large;
}

#p2{
    color: hsla(244, 89%, 43%, 0.94);
    font-size: x-large;
}
